// Colors
$bg: #E5E5E5;
$bgSecondary: #F8F1EA;
$bgAccent: #35312D;
$colorMain: #000000;
$colorSecondary: #F8F1EA;
$colorAccent: #F16A50;
$colorPrimary: #C62100;
// Fonts
$fontTitle:'Montserrat700';
$fontAccent: 'Montserrat600';
$fontMain: 'Montserrat500';
//Other
$defaultTransition: .2s all;
